:root {
  /* Colors */

  --primary-yel: hsl(47, 88%, 63%);
  --primary-whi: hsl(0, 0%, 100%);

  --primary-g500: hsl(0, 0%, 42%);
  --primary-g900: hsl(0, 0%, 7%);

  /* Typography */

  /* * Font Sizes * */
  --fs-large-bold: 1.5rem;
  --fs-med: 1rem;
  --fs-small: 0.875rem;

  /* * * For Phone * * */
  --fs-p-large-bold: 1.25rem;
  --fs-p-med: 0.875rem;
  --fs-p-small: 0.75rem;

  /* * Font Weight* */
  --fw-500: 500;
  --fw-800: 800;

  /* * Font Family * */
  --ff-figT: "Figtree", "sans-serif";

  /* * line heihgt * */
  --lh-all: 150%;

  /* * letter spacing * */
  --ls-all: 0px;

  /* Spacing */

  --space-300: 1.5rem;
  --space-200: 1rem;
  --space-150: 0.75rem;
  --space-100: 0.5rem;
  --space-50: 0.25rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  font-family: var(--ff-figT);
  /* width: 1440px;
  height: 960px; */
  width: 100%;
  height: 100vh;
  background-color: var(--primary-yel);
  display: grid;
  place-content: center;
}

.card {
  /* width: 384px;
  height: 522px; */
  width: fit-content;
  height: fit-content;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: var(--space-300);
  gap: var(--space-300);
  box-shadow: 10px 10px;
}
.blog-image {
  width: 336px;
  height: 200px;
  background-image: url(./assets/images/illustration-article.svg);
}
.content {
  width: 336px;
  height: 194px;
  display: flex;
  flex-direction: column;
  gap: var(--space-150);
}
.category {
  width: 82px;
  height: 29px;
  border: none;
  border-radius: 4px;
  padding: var(--space-50) var(--space-150);
  background-color: var(--primary-yel);
  align-content: center;
}
.category p {
  color: var(--primary-g900);
  font-size: var(--fs-small);
  font-weight: var(--fw-800);
}
.publish-date {
  width: 143px;
  height: 23px;
  align-content: center;
}
.publish-date p {
  color: var(--primary-g900);
  font-size: var(--fs-small);
  font-weight: var(--fw-500);
}
.title {
  width: 336px;
  height: 36px;
  align-content: center;
  cursor: pointer;
}
.title:hover {
  color: var(--primary-yel);
}
.title p {
  color: var(--primary-g900);
  font-size: var(--fs-large-bold);
  font-weight: var(--fw-800);
}
.description {
  width: 336px;
  height: 72px;
  align-content: center;
}
.description p {
  font-size: var(--fs-med);
  color: var(--primary-g500);
}

.author {
  width: 129px;
  height: 32px;
  display: flex;
  align-items: center;
  gap: var(--space-150);
}
.author img {
  width: 32px;
  height: 32px;
}
.author p {
  font-size: var(--fs-small);
  font-weight: var(--fw-800);
}

.line-height-letter-spacing {
  line-height: 150%;
  letter-spacing: 0px;
}

@media (min-width: 370px) {
  .main {
    width: 100%;
    height: 100vh;
  }
  .card {
    width: fit-content;
    height: fit-content;
  }
}

